<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
        <form [formGroup]='form' (ngSubmit)='onSubmit()' enctype="multipart/form-data">
            <div class="row">
              <div class="col-lg-3">
                <mat-form-field>
                  <mat-label>Select Trade</mat-label>
                  <mat-select formControlName='trade'>
                    <mat-option value="Asphalt Concrete Paving">Asphalt Concrete Paving</mat-option>
                    <mat-option value="Bulldozer Operation">Bulldozer Operation</mat-option>
                    <mat-option value="Bricklaying">Bricklaying</mat-option>
                    <mat-option value="Bored Micro-Piling Operation">Bored Micro-Piling Operation</mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.get('trade').invalid">Select Trade</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field>
                  <mat-label>Select Level</mat-label>
                  <mat-select formControlName='level'>
                    <mat-option value="SATW">SATW</mat-option>
                    <mat-option value="SEC(K)">SEC(K)</mat-option>
                    <mat-option value="SATF">SATF</mat-option>
                  </mat-select>
                  <mat-error *ngIf="form.get('level').invalid">Select Level</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                Language<br>
                <mat-checkbox (change)='onLanguageChange($event)' value='EN' [checked]="this.form.get('language').value.toString().includes('EN')">English</mat-checkbox><br>
                <mat-checkbox (change)='onLanguageChange($event)' value='CH' [checked]="this.form.get('language').value.toString().includes('CH')">Chinese</mat-checkbox><br>
                <mat-checkbox (change)='onLanguageChange($event)' value='TH' [checked]="this.form.get('language').value.toString().includes('TH')">Thai</mat-checkbox><br>
                <mat-checkbox (change)='onLanguageChange($event)' value='TM' [checked]="this.form.get('language').value.toString().includes('TM')">Tamil</mat-checkbox><br>
                <mat-checkbox (change)='onLanguageChange($event)' value='KR' [checked]="this.form.get('language').value.toString().includes('KR')">Korean</mat-checkbox><br>
                <mat-checkbox (change)='onLanguageChange($event)' value='BR' [checked]="this.form.get('language').value.toString().includes('BR')">Burmese</mat-checkbox><br>
                <mat-error *ngIf="form.get('language').valid || !form.get('language').touched">&nbsp;</mat-error>
                <mat-error *ngIf="form.get('language').invalid && form.get('language').touched">Language must be
                  selected</mat-error>
              </div>
            </div>
            <br />
            <div class="row">
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="Syllabus Name" formControlName='syllabusName'>
                  <mat-error *ngIf="form.get('syllabusName').invalid">Syllabus Name is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="Development Officer" formControlName='devOfficer'>
                  <mat-error *ngIf="form.get('devOfficer').invalid">Development Officer is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="Manager" formControlName='manager'>
                  <mat-error *ngIf="form.get('manager').invalid">Manager is required</mat-error>
                </mat-form-field>
              </div>
              <div class="col-lg-3">
                <mat-form-field>
                  <input matInput placeholder="Active Date" formControlName='activeDate' type="date">
                  <mat-error *ngIf="form.get('activeDate').invalid">Active Date is required</mat-error>
                </mat-form-field>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12">
                <label for='syllabusFile' class="mat-raised-button mat-primary">Upload Syllabus</label>
                <input class="mat-raised-button mat-primary" formControlName='syllabusFile' id="syllabusFile"
                  type="file" />&nbsp;&nbsp;&nbsp;&nbsp;
                <span><b>{{form.get('syllabusFile').value.split('\\')[2]}}</b></span>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-12">
                <label for='testPlanFile' class="mat-raised-button mat-primary">Upload Test Plan</label>
                <input class="mat-raised-button mat-primary" formControlName='testPlanFile' id="testPlanFile"
                  type="file" />&nbsp;&nbsp;&nbsp;&nbsp;
                <span><b>{{form.get('testPlanFile').value.split('\\')[2]}}</b></span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <button type="submit" class="action-button" mat-raised-button color="primary" style="float: right;">
                  <span *ngIf='!isSubmitting'>Save</span>
                  <mat-spinner diameter='25' *ngIf='isSubmitting' class="button-spinner"></mat-spinner>
                </button>
              </div>
            </div>
          </form>
    </div>
  </div>
</div>
